.creative {
    transform: perspective(2000px) rotateX(-20deg) rotateY(-20deg);
    transition: transform 0.5s ease;
  }
  
  .creative:hover {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  }
  @media screen and (max-width:400px) {
    .creative {
      transform: perspective(3000px) rotateX(-20deg) rotateY(-20deg);
      transition: transform 0.5s ease;
    }
  }
  
  .rcx-height-indicator{
    box-shadow: 8px -6px 0px rgb(255, 113, 181);
    
  }
  .rcx-height-indicator:hover {
    box-shadow: 8px -6px 0px rgb(255, 8, 127);
  }
.rcx-heading1{
  color: #af0404;
  font-weight: 800;
  justify-content: left;
  font-size: 2rem;
  margin-bottom: 3rem;
  border-bottom: .2rem solid gray;
}
.rcx-ulCss{
  width: 6.5rem;
  height: 4rem;
  font-weight: 600;
  color: white;
  font-size: .6rem;
  background-color: rgb(156, 34, 93);
}
