.single-product-img {
    width: 100%;
    height: 300px;
}

.single-product-img img {
    width: auto;
    height: 100%;
    object-fit:contain;
}

.single-product-button-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-product-button button {
    border: none;
    width: 10rem;
    padding: 8px 12px;
    text-transform: uppercase;
    margin: 0px 15px;
}

.add-to-cart-button {
    background-color: #D00808;
    color: #ffff;
}

.buy-now-button {
    background-color: #039B12;
    color: #fff;
}

.single-product-name {
    color: #504D4D;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.single-product-price {
    display: flex;
    align-items: center;
}

.single-product-price h3 {
    color: #D00808;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 15px;
    font-size: 24px;
}

.single-producrt-MRP {
    color: #8B8A8A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;

}

.single-product-price .discount {
    color: #039B12;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;

}

.alert-product-left {
    color: #D00808;
}

.single-product-description h3 {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.single-product-description p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.single-product-specifications {
    border: 1px solid #B7B5B5;
}

.single-product-specifications h3 {
    color: #504D4D;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 5px 8px;
    border-bottom: 1px solid #B7B5B5;
}

.product-details-text {
    color: #7E7C7C;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.delivery-check {
    display: flex;
    align-items: center;
}

.delivery-check h3 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.delivery-check input {
    margin-left: 10px;
    color: #7E7C7C;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    border: none;
    border-bottom: 1px solid #7E7C7C;
}

.delivery-check input:focus {
    outline: none;
    border: none !important;
    border-bottom: 1px solid #7E7C7C !important;
}

.delivery-check a {
    margin-left: 10px;
    color: #3F63B9;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.similar-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.similar-product h3 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-top: 10px;
}

.similar-product button{
    color: #FFF;
    background: #3F63B9;
    border: none;
}