.headingStyle{
    display: flex;
    align-items: center;
    width: 200px;
    height: 100px;
    font-size: 1rem;
    border: 2px solid blue;
    background-color: rgba(39, 30, 30, 0.295);
}

.creativeDiv {
    display: flex;
    margin: 2rem;
    margin-top: 3rem;
    justify-content: center;
    transform: perspective(1200px) rotateX(5deg) rotateY(25deg);
    transition: transform 0.5s ease;
  }
  
  .creativeDiv:hover {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  }
  @media screen and (max-width:400px) {
    .creativeDiv {
      transform: perspective(3000px) rotateX(-20deg) rotateY(-20deg);
      transition: transform 0.5s ease;
      margin-bottom: 1rem;
    }
  }
  