.career-heading{
    margin: 25px 0px;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}
.career-text{
    font-size: 16px;
    line-height: 25px;
}

.job-post .job {
    width: 100%
}

.job-post .job li .small {
    font-weight: 400;
    font-size: 18px;
    color: #636277;
}

.job-post .job li h2 {
    font-size: 22px;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 6px;
    display: -ms-flexbox;
    display: flex;
}

.job-post .job li > span:last-of-type {
    text-align: center;
}

.job-post .job li > span.child {
    padding-right: 16px;
}

.job-post .job li h2 span {
    vertical-align: middle;
    color: #1155a0;

}

.job-post .job li > span {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    box-sizing: border-box;
    color: #636277;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
}

.job-post .job li > div {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
}

.job-post .job li {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #c4cfde;
    margin-top: 24px;
    padding-bottom: 22px;
}


@media screen and (max-device-width: 768px) {
    .job-post .job li > span:last-of-type {
        text-align: left;
    }

    .job-post .job li {
        position: relative;
        display: -ms-flexbox;
        display: block;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border-bottom: 1px solid #c4cfde;
        margin-top: 24px;
        padding-bottom: 22px;
    }

    .job-post .job li > span {
        display: block;
    }

}



