
.comminityCollegeList li{
    font-size: .95em;
    padding: 0px 0px 5px 0px;
    margin: 10px 0px;
    text-align: justify;
}

.comminityCollegeList li h3{
    font-size: 1em;
    font-weight: 600;
    margin: 5px 0px;
}