.radio-Selection {
    display: flex;
    justify-content: center;
}

.complain-radio {
    display: flex;
    align-items: center;
}

.complain-radio label {
    font-size: 14px;
    font-weight: 600;
    color: var(--textColor);
    margin-left: 8px;
    cursor: pointer;
}

.complain-input {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.complain-input-lebel {
    font-size: 14px;
    color: var(--textColor);
    font-weight: 600;
}

.complain-button {
    display: flex;
    justify-content: end;
}

.complain-select {
    border-radius: 0px;
}

.complain-input {
    border-radius: 0px;
}

.complain-input:focus {
    border: 1px solid var(--blue);
}

.complain-button button {
    border: none;
    padding: 8px 20px;
    color: #fff;
    background-color: var(--blue);
}


@media screen and (max-width : 768px) {
    
    .complain-radio {
  justify-content: start !important;
    }
    .complain-input {
        display: block;
    }

    .complain-input-lebel {
        margin-left: 5px;
    }

    .complain-button {
        justify-content: center;
    }
}