.tree-shrub-content {
  display: flex;
  height: 100%;
  margin-top: 5rem;
}
.tree-shrub-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tree-shrub-2main {
  display: flex;
  position: relative;
  margin-top: 1.75rem;
  height: 7rem;
  justify-content: center;
  width: 300px;
}
.tree-shrub-img {
  position: absolute;
  border-width: 4px;
  border-radius: 2px;
  width: 5rem;
  transform: translate3d(-15px, -15px, 0);
}

.tree-shrub-text {
  margin-left: 1rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  border-width: 2px;
  height: 100%;
  font-size: 1rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  width: 100%;
}
.tree-shrub-text h5 {
  padding-left: 3rem;
}

.tree-shrub-main a:nth-child(1) .tree-shrub-text {
  background: #321635;
}
.tree-shrub-main a:nth-child(2) .tree-shrub-text {
  color: black;
  background: #6bcece;
}
.tree-shrub-main a:nth-child(3) .tree-shrub-text {
  background: #ba0cce;
}
.tree-shrub-main a:nth-child(4) .tree-shrub-text {
  background: #b7b925;
}
.tree-shrub-main a:nth-child(5) .tree-shrub-text {
  background: #db7a0b;
}
.tree-shrub-main a:nth-child(6) .tree-shrub-text {
  background: #810d04;
}
.tree-shrub-main a:nth-child(7) .tree-shrub-text {
  background: #5d0abd;
}