.left-mobile-menu{
    display: none;
}

.left-menue-main {
    margin-right: 10px;
    background-color: white;
}

.left-menu-heading {
    width: 100%;
    text-transform:capitalize;
    background-color: var(--blue);
    padding: 10px 15px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0 !important;
}

.left-menue-list ul {
    padding: 0em 1em 1em 1em;
    margin: 0;
    list-style: none;
    margin-top: 10px !important;
}

.left-menue-list  li{
    position: relative;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    padding-right: 1rem;
    margin-left: 10px;
}

.left-menue-list  li a{
    text-decoration: none;
    color: var(--textColor);
    font-size: .9rem;
    font-weight: 500;
}
.left-menue-list  li :hover{
    color:rgb(255, 0, 8);
}


.open-icon{
    font-size: 26px;
    margin: 0px 8px;
    color: #fff;
    font-weight: 600;
}
@media screen and (max-width:768px) {
    .left-window-menu{
        display: none;
    }
    .left-mobile-menu{
        display: block;
    }
    .left-menue-main {
        margin-right: 0px;
        background-color: white;
    }
    .service-menue {
        /* display: none; */
        display: flex;
        justify-content: center;
    }
}