
  .technology_div_color a:nth-child(1) div{
    background: #001E5A;
  }
  .technology_div_color a:nth-child(2) div{
    background-color: #F30000;
  }
  .technology_div_color a:nth-child(3) div{
    background-color: #89C54C;
  }
  .technology_div_color a:nth-child(4) div{
    background: #020202;
  }
  .technology_div_color a:nth-child(5) div{
    background-color: #1C9474;
  }
  .technology_div_color a:nth-child(6) div{
    background-color: #F90606;
  }
  .technology_div_color a:nth-child(7) div{
    background-color: #99D55B;
  }
  .technology_div_color a:nth-child(8) div{
    background-color: #181818;
  }
  .technology_div_color a:nth-child(9) div{
    background-color: #20C7FF;
  }

  .technology_div_color p{
    color: white;
    font-weight: bold;
  }
  .technology_div_color a{
    padding-right: 4px;
    padding-left: 4px;
  }